.about_container {
  width: 100%;
  min-height: 50vh;
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), maroon),
    url(../images/mandala.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
}

#heading {
  margin-top: 80px;
  text-decoration: underline;
  text-align: center;
  font-size: 60px;
  color: white;
}

.contentaboutus {
  background-color: beige;
  /* padding: 30px; */
  min-height: 30vh;
  text-align: left;
  font-size: 20px;
}
.contentaboutus h1 {
  font-size: 40px;
  text-align: center;
}
.abcontent {
  padding: 70px;
}
