* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* background-color: red; */
}

/* navigation bar */
.containers {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed; /* for having sticky like image*/
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), maroon),
    url(../images/mandala.jpg);
  padding: 10px 8%;
}

nav {
  padding: 10px;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
.content {
  color: white;
  margin-top: 14%;
}
.content h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
  margin-bottom: 25px;
}

/*about-us for home*/
.about-us {
  background-color: bisque;
  text-align: center;
  padding: 30px;
  font-size: 25px;
}

.about-us h1 {
  text-decoration: underline;
  font-size: 50px;
}

#text-deco a {
  text-decoration: none;
}

#text-deco a:active {
  color: blue;
}

/* gallery */
.gallery {
  width: 100%;
  min-height: 50vh;
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)),
    url(../images/gall.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
}

.gallery .gal_head h2 {
  margin-top: 200px;
  /* justify-content: center;
    align-items: center; */
  text-align: center;
  font-size: 50px;
  color: white;
}

.items {
  justify-content: center;
  align-items: center;
  background-color: #f5f5dc;
  min-height: 100vh;
  /* margin-bottom: 50px; */
}

.pad_left {
  margin-left: 70px;
}

.items img {
  border: 0;
  border: 2px solid black;
  margin: 20px;
  margin-top: 50px;
  max-width: 500px;
  max-height: 340px;
  /* padding: 20px; */
}

/* slogan */
.slogan {
  padding: 40px;
  /* height: 200vh; */
  color: white;
  font-size: 30px;
  text-align: center;
  background-image: url(../images/hakku.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: row;
}

.left_slogan {
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
  padding: 10px;
  border: 1px solid;
  width: 50%;
  padding-left: 2px;
  margin-right: 20px;
}

.middle_slogan {
  background-color: rgba(0, 0, 0, 0.5);
  /* background: transparent; */
  float: left;
  padding: 10px;
  border: 1px solid;
  width: 50%;
  margin-right: 20px;
}

.right_slogan {
  background-color: rgba(0, 0, 0, 0.6);
  float: left;
  padding: 10px;
  border: 1px solid;
  width: 50%;
  margin-right: 20px;
}

/* footer */

footer {
  font-family: "Poppins", sans-serif;
  bottom: 0;
  background: black;
  height: auto;
  width: 100%;

  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;

  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.socials a .fa-youtube:hover,
.socials a .fa-google-plus-g:hover {
  color: red;
}
.footer-bottom {
  display: flex;
  margin-top: -25px;
}
.footer-bottom ul {
  display: flex;
  list-style: none;
}
.footer-bottom ul li {
  padding-right: 20px;
}
.footer-bottom ul li a {
  text-decoration: none;
  color: #cfd2d6;
}
.footer-bottom ul li a:hover {
  color: #27bcda;
}
.footer-bottom p {
  /* float: left; */
  display: block;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-bottoms {
  display: flex;
  background-color: black;
  width: 100%;
  padding: 20px;
  /* padding-bottom: 10px; */
  text-align: center;
  align-items: center;
  justify-content: center;
}
.modal-body {
  /* display: flex; */
  text-align: left;
}
